<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
<script>
    try { 
        window.Modernizr || document.write('<script src="_assets/js-lib/modernizr.min.js"><\/script>'); 
    } catch(e) { 
        // window.log(e);
    }
</script>
