{% load cms_tags sekizai_tags %}

{% block js_base %}
{% addtoblock "js" %}
{% include "js-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block js_analytics %}
{% addtoblock "js" %}
{% include "js-analytics.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block js_scriptloader %}
{% addtoblock "js_scriptloader" %}
{% include "js-scriptloader.tmpl" %}
{% endaddtoblock %}
{% endblock %}

{% block css_base %}
{% addtoblock "css" %}
{% include "css-base.tmpl" %}
{% endaddtoblock %}
{% endblock %}

<!DOCTYPE html>

<!--[if lte IE 8 ]> <html lang="en" class="no-js oldie"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
  
  <meta charset="utf-8" />

  <!-- ==
  
  device stuff

  == -->
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 

  <!-- ==

  seo stuff

  == -->

  <title>Alex Map {{ request.current_page.get_title }}</title>
  <meta 
    name="description" 
    content="" />
  <meta 
    name="keywords" 
    content="" />
  <meta 
    name="author" 
    content="" />

  <!-- ==

  pre-cache

  == -->

  <meta
    name="pre-cache"
    content="http://fonts.googleapis.com" />

  <!-- ==
  
  custom fonts

  == -->

  <link 
    href='http://fonts.googleapis.com/css?family=Open+Sans:300' 
    rel='stylesheet'  
    type='text/css' />

  <link 
    href='http://fonts.googleapis.com/css?family=Raleway:100' 
    rel='stylesheet' 
    type='text/css' />  

  <!-- ==
  
  stylin'

  == -->

  {% render_block "css" %}

  <!-- ==
  
  google's visualization library

  == -->

  <script src="http://www.google.com/jsapi"></script>
  <script>
    google.load( 'visualization', '1', 
      { 'packages': [ 'corechart', 'table', 'geomap' ] } );
  </script>  

  <!-- ==

  gmap

  == -->

  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <!-- ==
  
  script loader (modernizr)

  == -->

  {% render_block "js_scriptloader" %}

</head>

<body id="maptest"> 

  {% cms_toolbar %}

  <div id="container">
    
    <div class="line-separator"></div>

    <div class="map-container">

      <h1>Map test</h1>

      <div class="page-content">
      {% placeholder "page content" %}
      </div>

      <div id="map_canvas"></div><!-- End .map_canvas -->

      <div id="sidebar">
        
        <div class="mod mod-type-selector">
          <div class="inner">
          </div>
          <div class="controls">
            <a href="#" class="clearmarkers">Clear Windows</a>
          </div>
        </div><!-- End .mod-type-selector -->

      </div><!-- End .sidebar -->
    
    </div><!-- End .map-container -->

    <form 
      id="checklist"
      class=""
      action="."
      method="post"
      tabindex="1">
      <fieldset>
        <div class="field-block field-settype">
          <!-- loaded by js -->
          <!-- should be loaded by app, instead of using js -->
          <!-- so that HTML content appears in View Source -->
        </div>
      </fieldset>
    </form><!-- End #checklist -->

  </div><!-- End #container -->

  {% render_block "js" %}

  {% render_block "js_analytics" %}

</body>
</html>

